<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>About</title>
</head>
<body>
     Home<br>
       <h1> About NRIIT Learning Management</h1>
       <p>Learn Practice Get placed</p>
       <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/courses">Courses</a>
        <a href="/trainers">Trainers</a>
        <a href="/registers">Register</a>
        <a href="/login">Login</a>
        <a href="/contact">Contact</a>
       </nav>
    </header>
    <main>
        <section>
            <h2>About NRIIT</h2>
            <p>NRIIT is a committed to providing quality education in python fullstack.</p>
        </section>
        <section>
            <h2>Vision</h2>
            <p>
                Empowering Studetswith Practical Software Skills
            </p>
        </section>
    </main>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>