<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login Page</title>
</head>
<body>
    <header>login</header>
    <main>
        <h2> Student Login</h2>
        <form>
            <label>Email:</label>
            <input type="email" placeholder="Enter your email"><br>
            <label>Password:</label>
            <input type="password" placeholder="Enter your password"><br>
            <input type="submit" value="Login">
        </form>
    </main>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>