<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Register </title>
</head>
<body>
     <header>Register</header>
     <main>
        <h2> Student Registration</h2>
        <form id="registerForm" method="POST">
            <label>Full Name:</label>
            <input type="text"placeholder="Enter your full name"id="name" name="name"><br>
            <label>Email:</label>
            <input type="email"placeholder="enter your email" id="email" name="email"><br>
            <label>Password:</label>
            <input type="password"placeholder="enter your password" id="password" name="password"><br>
            <label>Confirm Password:</label>
            <input type="password"placeholder="confirm your password" id="confirmPassword" name="confirmPassword"><br>
            <label>Date of Birth:</label>
            <input type="date"placeholder="enter your DOB" id="dob" name="dob"><br>
            <label>Gender:</label>
            <input type="radio" name="gender" value="male" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Female</label>
            <input type="radio" name="gender" value="other" id="other">
            <label for="other">Other</label><br>
            <br>
            <select name="course" id="course">
                <option value="course1">Python FullStack</option>
                <option value="course2">Java FullStack</option>
                <option value="course3">Data Science</option>
            </select>
           
            <input type="submit" value="Register">
        </form>
     </main>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

</body>
</html>