<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Trainer page</title>
</head>
<body>
     Home<br>
       <h1>Trainers at NRIIT Learning Management</h1>
       <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/courses">Courses</a>
      <a href="/trainers">Trainers</a>
      {% if session.get('user_email') %}
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {% endif %}
      <a href="/contact">Contact</a>
    </nav>
    </header>
    <main>
        <section>
            <h2>Meet our Trainers</h2>
            <article>
                <img id="trainerImg" src="{{url_for('static', filename='images/trainer1.jpg')}}" alt="Trainer" width="180" class="trainer-image">
                <h3 id="trainerName">Mr. SriRam</h3>
                <p id="trainerRole">Python Fullstack Trainer</p>
                <p id="trainerExperience">Experience: 4+ years</p>
            </article>
            <br>
            <button id="nextTrainerBtn">Next Trainer</button>

        </section>
    </main>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>